# Environment
.env
*.env
!.env.example

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Backend
backend/.env
*.exe
*.test

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

backend/.venv/
.venv/
frontend/node_modules/
frontend/dist/
